@font-face{
    font-family: "Montserrat";
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}
@font-face{
    font-family: "Poppins";
    src: url(Fonts/Poppins/Poppins-Black.ttf)
}
body{
    font-family: "Montserrat", "Poppins";
}